<form #collect="ngForm" (ngSubmit)="Submit(collect)">
    <form-text 
    [label]="'Your full Name'"
     [placeholder]="'Name'" 
     [(ngModel)] ="name" 
     name='name' 
     disabled>
    </form-text> 

    <form-text 
    [label]="'Your Email'"
    [placeholder]="'Email'"
    [(ngModel)] ="email"
     name="email">
    </form-text>

    <form-text 
     [label]="'Your Number'"
      [placeholder]="'Number'"
      [(ngModel)] ="number"
      name="number">
    </form-text><br>
    
    <button type="click">Submit</button>
</form>